# --- Configuración General del Entorno ---

# Puertos expuestos en tu máquina (HOST). Cámbialos si están ocupados.
FRONTEND_PORT=5173
BACKEND_PORT=3000
DB_PORT=5433

# Credenciales para la base de datos PostgreSQL
POSTGRES_DB=transpobolivia_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
