
services:
  db:
    image: postgres:18
    container_name: transpobolivia-db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  backend:
    container_name: transpobolivia-backend
    build:
      context: ./backend
    restart: always
    ports:
      - "${BACKEND_PORT}:3000"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DATABASE_HOST: db
    depends_on:
      - db

  frontend:
    container_name: transpobolivia-frontend
    build:
      context: .
    restart: always
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend

volumes:
  postgres_data: