@import "tailwindcss";

@theme {
    --color-primary-50: #f0f9ff;
    --color-primary-100: #e0f2fe;
    --color-primary-500: #0ea5e9;
    --color-primary-600: #0284c7;
    /* Azul fuerte */
    --color-primary-700: #0369a1;

    --color-secondary-500: #f97316;
    --color-secondary-600: #ea580c;
    /* Naranja */
}

@layer components {
    .btn-primary {
        @apply bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition-all shadow-md hover:shadow-lg flex items-center justify-center gap-2 cursor-pointer border-none;
    }

    .btn-secondary {
        @apply bg-white border border-gray-300 hover:bg-gray-50 text-gray-700 font-bold py-2 px-4 rounded-lg transition-all shadow-sm cursor-pointer;
    }

    .input-field {
        @apply w-full p-3 bg-white border border-gray-300 rounded-lg text-gray-900 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-all;
    }

    .card {
        @apply bg-white rounded-xl shadow-sm border border-gray-200 overflow-hidden;
    }
}

/* Asegurar que el mapa tenga altura */
.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 10;
}